<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous'></script>
    <script type="text/javascript" src="/javascripts/wishlistnew.js"></script>
  </head>

  <body>
    <div class='container-fluid'>
      <!-- HEADER -->
      <header class='row page-header'>
        <div class='col-xs-3 text-center'>
          <a href='/' title='home'><img src='/images/logo.png' alt='logo' class='header-items'></a>
        </div>

        <div class='col-xs-6 text-center'>
          <h1>pencil, paper, scissors</h1>
          <p class="header-msg">connecting the classroom and community</p>
        </div>
