<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  </head>

  <body>
    <div class='container-fluid'>
      <!-- HEADER -->
      <header class='row page-header'>
        <div class='col-xs-3 text-center'>
          <a href='/' title='home'><img src='/images/logo.png' alt='logo' class='header-items'></a>
        </div>

        <div class='col-xs-6 text-center'>
          <h1>Pencil, Paper, Scissors</h1>
          <p>Connecting the classroom and community</p>
        </div>
