<% include ./partials/header.ejs %>
    <div class="container">
      <section class="donor-title-row">
      </section>
      <section>
        <div class="row">
          <div class="col-sm-1"></div>
          <a href="#"><div class="portal-button col-sm-4">New Donation</div></a>
          <div class="col-sm-2">
          </div>
          <div class="portal-button col-sm-4">My Donations</div>
          <div class="col-sm-1"></div>
        </div>
      </section>
    </div>
    <% include ./partials/footer.ejs %>
