<% include ./partials/header %>

  <div class='col-xs-3 text-center'>
    <button type='button' class='btn btn-primary btn-lg header-items'>Account</button>
  </div>
</header>

<!-- TITLE STATEMENTS -->
<section class='text-center'>
  <h4 id='statement'>Hi Giver Name<br>Make a new wish list or view your ongoing wish lists</h4>
</section>

<!-- TEACHER-GIVER BUTTONS -->
<section class='row'>
  <form method='get' class='text-center form-inline'>
    <button type='submit' name='wishlist-new' formaction='/givers/wishlist-new' class='btn btn-primary btn-xl float-lg-left'>Find New Wish List</button>
    <button type='submit' name='wishlist-inprog' formaction='/givers/wishlist-fulfilled' class='btn btn-primary btn-xl float-lg-right'>Fulfilled Wish Lists</button>
  </form>
</section>

<% include ./partials/footer %>
