<% include ./partials/header %>

  <div class='col-xs-3 text-center'>
    <button type='button' class='btn btn-primary btn-lg header-items'>Account</button>
  </div>
</header>
<script type="text/javascript">

</script>
<!-- TITLE STATEMENTS -->
<section class='text-center'>
  <h4 id='statement'>We are a platform for teachers to request classroom supplies from <br> generous givers. Please continue as a teacher or giver below.</h4>
</section>

<!-- TEACHER-GIVER BUTTONS -->
<section class='row'>
  <form method='get' class='text-center form-inline'>
    <button type='submit' name='teacher' formaction='/teachers/tlanding' class='btn btn-primary btn-xl float-lg-left'>I'm a Teacher</button>
    <button type='submit' name='giver' formaction='/givers/glanding' class='btn btn-primary btn-xl float-lg-right'>I'm a Giver</button>
  </form>
</section>

<% include ./partials/footer %>
