
  <% include ./partials/header.ejs %>
    <div class="container">
      <section class="title-row">
        <h1>pencil, paper, scissors</h1>
        <h3>connecting the classroom and community</h3>

        <div>We are a platform for teachers to requerst classroom supplies from generous givers. Please continue as a teacher or giver below.</div>

      </section>
      <section>
        <div class="row">
          <div class="col-sm-1"></div>
          <a data-toggle="modal" href = "#teacher-login-modal" data-target="#teacher-login-modal "><div class="portal-button col-sm-4">I'm a teacher</div></a>
          <div class="col-sm-2">

          </div>
          <div class="portal-button col-sm-4">I'm a giver</div>
          <div class="col-sm-1"></div>
        </div>
      </section>


    </div>
    <% include ./partials/footer.ejs %>
