<% include ./partials/header %>

  <div class='col-xs-3 text-center'>
    <button type='button' class='btn btn-primary btn-lg header-items'>Login</button>
  </div>
</header>

<!-- TITLE STATEMENTS -->
<section class='text-center'>
  <h4 id='statement'>NEW WISHLIST PAGE</h4>
</section>




<% include ./partials/footer %>
