<% include ./partials/header.ejs %>
<div class="container">
  <section class="help-bar">
    <div class="help-button">?</div>
  </section>
  <section>
    <div class="row">
      <div class="col-sm-4">
        <div class="center-header">
          Search
        </div>
        <div class="budget">
          <h3>Budget</h3>
          <form class="" action="index.html" method="post">
            <label for="min">Min</label>
            <select name="min">
              <option value="">$0</option>
              <option value="">$10</option>
              <option value="">$100</option>
              <option value="">$1000</option>
            </select>
            <label for="max">Max</label>
            <select name="max">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </form>
        </div>
        <div class="location">
          <h3>Location</h3>
          <form class="" action="index.html" method="post">
            <input type="text" name="name" value="">
            </select>
          </form>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="center-header">
          Wishlists
        </div>
      </div>
    </div>
  </section>
</div>
<% include ./partials/footer.ejs %>
