<% include ./partials/header %>

<div class='col-xs-3 text-center'>
  <button type='button' class='btn btn-primary btn-lg header-items'>Account</button>
</div>
</header>

<div class="container">

<div class="row wishlist-active-buttons">
  <form class='form-inline'>

<!-- ACTIVE WISHLISTS BUTTON -->
  <div class='col-sm-4 form-group'>
    <form method='get'>
      <button type='submit' class='btn btn-primary btn-lg' formaction='/teachers/wishlist-active'>Active Wishlists</button>
    </form>
  </div>
<!-- PAST WISHLISTS BUTTON -->
  <div class='col-sm-4 form-group'>
    <form method='get'>
      <button type='submit' class='btn btn-primary btn-lg' formaction='/teachers/wishlist-past'>Past Wishlists</button>
    </form>
  </div>


  <div class="col-sm-4 form-group">
    <label for="date-field">Due By:</label>
    <input type="text" class="form-control" placeholder="Month/Day/Year" name="name" value="">
  </div>

  </form>
</div>

<!-- ============================================================== -->
<!-- WISHLIST PANEL -->
<div class='row'>
  <div class='col-xs-12 col-md-12'>

<!-- WISHLIST PANEL BODY: populate items here -->
      <div id="panel-color" class="panel-heading">
        <h3 class="panel-title">Wish Lists:</h3>
      </div>
      <div class='panel-body pre-scrollable new-wishlist-area-chosen panel' id="teachers_lists">
        <div class="row">


        </div>

      </div>
  </div>
</div>

  <div class="row wishlist-active-buttons">
<!-- SEE ADDED ITEMS BUTTON -->
    <div class='col-sm-4'>
      <button type='button' class='btn btn-primary btn-lg btn-bot'>See Added Items</button>
    </div>

    <div class='col-sm-4'>
      <form method="get">
        <button type='submit' formaction='/teachers/new-wishlist' class='btn btn-primary btn-lg btn-bot'>Create New List</button>
      </form>
    </div>
    <div class='col-sm-4'>
    </div>
  </div>
</div>

<% include ./partials/footer %>
