html {
  position: relative;
  min-height: 100%;
}

body {
  /*padding: 50px;*/
  margin-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f6fff3;
  margin-bottom: 60px;
}

a {
  color: #00B7FF;
}

h1 {
  font: 50px 'Cormorant Garamond', serif;
  margin-top: 10px;
}



footer {
  background-color: #dff2da;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.header-items {
  margin-top: 35px;
  margin-bottom: 10px;
}

.footer-msg {
  margin-top: 20px;
}

.btn {
  background-color: #7c946f;
}

.btn:hover {
  background-color: #a9d98f;
}

.btn-xl {
  padding: 60px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 10px 40px;
  margin-bottom: 40px;
}

.page-header {
  margin-top: 0px;
  background-color: #dff2da;
}

#statement {
  margin: 5% 0;
}
