body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*header*/

.navbar{
  padding: 0px 75px;
}

.navbar-right{
  font-size:2em;
  line-height:2em;
}

.navbar-left{
  font-size:2em;
  line-height:2em;
}

.portal-button{
  text-align: center;
  font-size: 2em;
  line-height: 8em;
  height:35vh;
  margin: 25px 0px;
  background-color:lightgrey;
}

.title-row{
  height:45vh;
  text-align: center;
}
.donor-title-row{
  height:25vh;
}
.title-row div{
  margin:10% 20%;
}

/*wishlist styles*/

.center-header{
  text-align: center;
  font-size: 1.5em;
  padding: 25px 0px;
}
.help-bar{
  height:10vh;
}
.help-button{
  display:inline-block;
  float:right;
  text-align: center;
  line-height: .85em;
  border-radius: 45px;
  font-size:2em;
  padding:15px;
  height:55px;
  width:55px;
  border: 1px solid black;
}

.budget{
  height:15vh;
}
